# LIST 
MUTABLE Data Structure with ORDERED collection of elements

In [1]:
party_attendes = ["Ram", "Piyush", "Ron"]
party_attendes

['Ram', 'Piyush', 'Ron']

In [2]:
len(party_attendes)

3

In [3]:
i=0
while i < len(party_attendes):
    print(party_attendes[i])
    i+=1
# Better way to get same output

Ram
Piyush
Ron

In [4]:
party_attendes = ["Ram", "Piyush", "Ron"]
for i in party_attendes:
    print(i)

Ram
Piyush
Ron

In [5]:
# To get output horizontally
party_attendes = ["Ram", "Piyush", "Ron"]
for i in party_attendes:
    print(i, end =" ")

Ram Piyush Ron

In [6]:
type(party_attendes)

list

In [7]:
# List Mutability
party_attendes = ["Ram", "Piyush", "Ron"]
id(party_attendes) # gives memory address of list

139726695546560

In [8]:
# Now we will update the list
party_attendes.append("Rohan")
party_attendes
id(party_attendes)
# Address remains same which means the same list has been updated and no new list was created in memory

139726695546560

In [9]:
# Hetrogenous datatype
# List within a list
lst = [5,"Piyush", 1,2,3,4]

# Accessing 3rd character of string
lst[1][2]

'y'

In [10]:
# User inputted list
lst = input("Enter list elements:")
print(lst)
print(type(lst))
# We get str . Convert it to list using eval function

zip
<class 'str'>

In [11]:
lst = eval(input("Enter list elements:")) 
# Use [] to give input
print(lst)
print(type(lst))

20
<class 'int'>

In [92]:
# Packed List
lst = [range(0,5,1)]
print(lst)

range(0, 5)

In [96]:
# To unpack list, use *
lst = [*range(0,5,1)]
print(lst)

[0, 1, 2, 3, 4]

zip() function 
- takes iterables (can be zero or more), aggregates them in a tuple, and returns it.
- The syntax is: zip(*iterables)
- iterables	can be built-in iterables (like: list, string, dict), or user-defined iterables

In [80]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

zipped = zip(numbers, letters)
list(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [84]:
# Passing sets to zip
# Random pairing

s1 = {1, 2, 3, 4, 5}
s2 = {'a', 'b', 'c', 'd', 'e'}
list(zip(s1, s2))

[(1, 'e'), (2, 'd'), (3, 'a'), (4, 'b'), (5, 'c')]

In [87]:
# Passing single argument

a = [1, 2, 3]
zipped = zip(a)
list(zipped)

[(1,), (2,), (3,)]

Unzipping values of zip
- The * operator can be used in conjunction with zip() to unzip the list

In [93]:
coordinate = ['x', 'y', 'z']
value = [3, 4, 5]

result = zip(coordinate, value)
result_list = list(result)
print(result_list)

c, v =  zip(*result_list)
print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

In [14]:
# Checking for Boolean values

lst = [True, False, True, False, False]
# Check if there is atleast 1 true
print(any(lst))
# Check if all are true
print(all(lst))




# This code explains how can we use 'any' function on list
list1 = []
list2 = []
 
# Index ranges from 1 to 10 to multiply
for i in range(1,11):
    list1.append(4*i)
 
# Index to access the list2 is from 0 to 9
for i in range(0,10):
    list2.append(list1[i]%5==0)
 
print('See whether at least one number is divisible by 5 in list 1=>')
print(any(list2))

True
False
See whether at least one number is divisible by 5 in list 1=>
True

# LIST Methods

In [15]:
# Creating list from string using SPLIT method
text = "Hello, welcome to free python resources"
lst = text.split(" ")
lst

['Hello,', 'welcome', 'to', 'free', 'python', 'resources']

In [16]:
# APPEND takes ONLY 1 element
# Can add items of any data type since lists can have elements of different data types
party_attendes.append("Shubham")
party_attendes[len(party_attendes):] = ["Shyam"]
party_attendes

['Ram', 'Piyush', 'Ron', 'Rohan', 'Shubham', 'Shyam']

In [17]:
# To add multiple items to a list in a sequence
# Use .extend() method

# List that we want to modify
nums = [5.6, 7.44, 6.75, 4.56, 2.3]

# Values that we want to add
new_values = [2.3, 9.6, 4.564, 7.56]

# For loop that is going to append the value
for num in new_values:
	nums.append(num)

print(nums)

# ALTERNATIVELY BETTER APPROACH

nums.extend(new_values)
print(nums)

[5.6, 7.44, 6.75, 4.56, 2.3, 2.3, 9.6, 4.564, 7.56]
[5.6, 7.44, 6.75, 4.56, 2.3, 2.3, 9.6, 4.564, 7.56, 2.3, 9.6, 4.564, 7.56]

In [18]:
# POP removes item at SPECIFIC INDEX and RETURNS it
# If no index specified, then last element removed and returned
party_attendes.pop(2)

'Ron'

In [19]:
# REMOVE takes out only 1st Occurence of Value and NOT a specific index
party_attendes.remove("Piyush")
party_attendes

# DELETE : del party_attendes[1] removes item at a SPECIFIC INDEX

['Ram', 'Rohan', 'Shubham', 'Shyam']

In [20]:
# SEARCH element in list
# CASE SENSITIVE
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter"]
print("earth" in planets)
print("Mars" in planets)

False
True

In [21]:
# Fn to check if list has more than 5 elements 

def is_long(list):
    if len(list) <=5:
        return False
    return True

party_attendes.append("Tim")
party_attendes.append("Jimmy")
party_attendes.append("XYZ")

is_long(planets)

False

In [22]:
is_long(party_attendes)

True

In [23]:
# Multiplication leads to REPITITION
lst = [10,20,30,40,50,-100]
lst*3

[10, 20, 30, 40, 50, -100, 10, 20, 30, 40, 50, -100, 10, 20, 30, 40, 50, -100]

In [24]:
lst = [1,2,3,4,5,-10]
total = 0
for x in lst:
    total+=x
print(f'Your Total is: {total}')

Your Total is: 5

In [25]:
# Mathematical operation on individial list element
prime_nums = [2, 3, 5, 7, 11]
mult_result = [x * 2 for x in prime_nums]
print(mult_result)

[4, 6, 10, 14, 22]

# SLICING Lists

In [26]:
# INDEXING starts from 0
person = "Piyush"
person[0]
person[-1]

'h'

In [27]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter"]
planets[0]

'Mercury'

In [28]:
planets[-2]

'Mars'

In [29]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter"]
planets[-100:]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [30]:
# Ending INDEX is excluded
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [31]:
planets[0:7:2]

['Mercury', 'Earth', 'Jupiter']

In [32]:
planets[0:]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [33]:
planets[:5]

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [34]:
# Gives no result as when we add 1 to index -1 we move out of list
# So we need to add -1 to index -1 to move to next element backwards
planets[-1:-5]

[]

In [35]:
# Moving backwards in a list using negative indices
planets[-1:-6:-1]

['Jupiter', 'Mars', 'Earth', 'Venus', 'Mercury']

In [36]:
# Moving forward using negative indices
planets[-5:-1]

['Mercury', 'Venus', 'Earth', 'Mars']

In [37]:
lst = ['Hello']
lst*3

['Hello', 'Hello', 'Hello']

# INSERT , DELETE , REMOVE, POP, CLEAR

In [38]:
# Inserting element in between

lst = [10,20,30,40]
lst.insert(1,15)
lst

[10, 15, 20, 30, 40]

In [39]:
lst.insert(10,50)
lst

[10, 15, 20, 30, 40, 50]

In [40]:
lst.insert(-10,0)
lst

[0, 10, 15, 20, 30, 40, 50]

In [41]:
lst = [10,20,30,40,50]
lst[2:3] = [3,5,7] # Start from position 2 and insert 3 elements
lst

[10, 20, 3, 5, 7, 40, 50]

In [42]:
# can pss more elements as well
lst = [10,20,30,40,50]
lst[2:3] = [3,5,7,9,11]
lst

[10, 20, 3, 5, 7, 9, 11, 40, 50]

In [43]:
# REMOVING ELEMENTS
lst = [10,20,30,40,50]
lst[2] =''
lst

[10, 20, '', 40, 50]

In [44]:
del lst[2]
lst

[10, 20, 40, 50]

In [45]:
lst = ['a','b','c','d','e','f']
del lst[0:3] # deletes 3 elements 
lst

['d', 'e', 'f']

In [46]:
lst = ['a','b','c','d','e','f']
del lst[0:5:2] # 
lst

['b', 'd', 'f']

In [47]:
# When you dont know index position and want to delete a particualr element
# Use REMOVE fn
lst = ['a','b','c','d','e','f']
lst.remove('c')
lst

['a', 'b', 'd', 'e', 'f']

In [48]:
# REMOVES only 1st occurence of element
lst = ['a','b','c','c','d','e','f']
lst.remove('c')
lst

['a', 'b', 'c', 'd', 'e', 'f']

In [49]:
# POP removes item at SPECIFIC INDEX and RETURNS it
# If no index specified, then last element removed and returned
party_attendes = ["Ram", "Piyush", "Ron"]
party_attendes.pop(2)

'Ron'

In [50]:
# REMOVING ALL Elements but list still exists in memory
lst = ['a','b','c','c','d','e','f']
lst.clear()
lst

[]

In [51]:
# Removes/Deletes the entire list itself
del lst

# Element FREQUENCY, List REVERSE, SORTING

In [52]:
# Frequency of occurence of element
lst = ['a','b','c','c','d','e','f','c']
lst.count('c')
# lst.count('Z') does not give error but 0

3

In [53]:
# Getting index position of element
lst.index('d')

# lst.index('Z') gives an error

4

In [54]:
lst = [10,20,30,40,50]
lst.reverse()
lst

[50, 40, 30, 20, 10]

In [55]:
# SORTING in ascending by default
# Hetrogenous list gives error
lst = [10,20,30,25,15,40,50]
lst.sort()
lst

[10, 15, 20, 25, 30, 40, 50]

In [56]:
# Descending Sort
lst = [10,20,30,25,15,40,50]
lst.sort(reverse=True)
lst

[50, 40, 30, 25, 20, 15, 10]

# LIST Comprehension and Comparison

In [57]:
lst = [x**2 for x in range(11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Cloning

In [58]:
list_a = [1,2,3,4,5]
list_b = [6,7,8,9,10]
list_a = list_b

# list_a = list_b.copy()

print(list_a)
print(list_b)
list_b[2] = 11
print("\n")
print(list_a)
print(list_b)

[6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]


[6, 7, 11, 9, 10]
[6, 7, 11, 9, 10]

In [59]:
list_a = [1,2,3,4,5]
list_b = [6,7,8,9,10]

list_a = list_b.copy() # cloning
# list_a = list_b[:] <-- slicing also creates cpy of data

print(list_a)
print(list_b)
list_b[2] = 11
print("\n")
print(list_a)
print(list_b)

[6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]


[6, 7, 8, 9, 10]
[6, 7, 11, 9, 10]

In [60]:
x = [1,2,3,10,12,15]
y = [4,5,6]
x<y

True

In [61]:
x>y

False

In [62]:
x==y

False

In [63]:
print(max(x))
print(min(y))
print(sum(x)/len(x))

15
4
7.166666666666667

In [64]:
x+y

[1, 2, 3, 10, 12, 15, 4, 5, 6]

In [65]:
# ENUMERATE Operation in LIST

lst = ["Hello", "World", "Everyone"]
# Output that we want --> [(0,"Hello"),(1,"World"), (2, "Everyone")]
enumerate_names = enumerate(lst)
print(list(enumerate_names))

[(0, 'Hello'), (1, 'World'), (2, 'Everyone')]

# TUPLE 
- immutable / ordered / hetrogenous / allows duplicates
- values cannot be modified once assigned

In [66]:
tup1 = (10,20,30)
type(tup1)

tuple

In [67]:
# Single value in parenthesis is treated as int
tup2 = (10)
print(type (tup2))

<class 'int'>

In [68]:
tup2 = (10,)
print(type(tup2))
tup2[0]

<class 'tuple'>

10

In [69]:
tup2 = (10,"Hello")
tup2[1][1]

'e'

In [70]:
# Nested Tuple
tup3 = ((1,2,3), (4,5,6), 7,8)
tup3[1][2]

6

In [71]:
# List within a tuple can be modified
tup4 = ((10,20,30), [1,2,3,4],(10,60,70))
tup4[1][2] = 3.5
tup4

((10, 20, 30), [1, 2, 3.5, 4], (10, 60, 70))

In [72]:
tup4.count(10) 
# does not work in nested list/tuple

0

In [73]:
tup5 = (10,10,10,20,30)
tup5.count(10)

# suppose we need this
# Input : test_tuple = (5, (6, (7, 8, 6))) 
# Output : {5: 1, 6: 2, 7: 1, 8: 1}

3

In [74]:
# Initializing tuple
test_tuple = (5, 6, (5, 6), 7, (8, 9), 9)
 
# Printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Elements Frequency in Mixed Nested Tuple
x=[]
for i in test_tuple:
    if(type(i) is tuple):
        x.extend(list(i))
    else:
        x.append(i)
res=dict()
a=list(set(x))
for i in a:3
res[i]=x.count(i)
     
# Printing result
print("The elements frequency : " + str(res))

The original tuple : (5, 6, (5, 6), 7, (8, 9), 9)
The elements frequency : {9: 2}

In [75]:
# Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [76]:
# NOTE : Sorting a tuple will give back a LIST
tup = (1,2,3,7,4,8)
sorted(tup)

[1, 2, 3, 4, 7, 8]

In [77]:
# To get back a tuple
print(tuple(sorted(tup, reverse = True)))

(8, 7, 4, 3, 2, 1)

In [78]:
print(max(tup))
print(tup*3)

8
(1, 2, 3, 7, 4, 8, 1, 2, 3, 7, 4, 8, 1, 2, 3, 7, 4, 8)

In [79]:
# change last element of each tuple in a list to 100
l = [(10,20,30), (40,50,60),(70,80,90)]
lst = []
for tup in l:
    temp = tup[0:2]
    temp = temp + (100,)
    lst.append(temp)
print(lst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]