# Variables

Variable Declaration Rules

- Variable Naming Rules
- No spaces are allowed.
- The first character must be a letter (lowercase or uppercase) or an underscore.
- Only letters, numbers and underscores are permitted after the first character.
- Variable names are case-sensitive. ​name​ and ​Name​ are two distinct, separate variables

In [1]:
# Everything in Python is an object. 
# Variable is jsut a name assigned to an object

name = "Sam"
age = 28
print("My name is",name, "and I am", age-1, "years old.")

My name is Sam and I am 27 years old.

In [2]:
# DYNAMIC DECLARATION
a = 5
print(a)
a="String"
print(a)
a=True
print(a)

5
String
True

# OPERATORS

In [3]:
Name = input("Employee Name : ")
Company = input("Company Nmae: ")
Salary = input("Salary : ")
Designation = input("Designation : ")
Remark = ("Pay Band-A ")
Incremented_Salary = int(1.1*int(Salary))
print(f"{Name} from {Company} working as {Designation} has a salary of Rs{Incremented_Salary}" )

Piyush from PW working as MIS Analyst has a salary of Rs27500

In [4]:
#Floor Division
# Returns Integer
10//4

2

In [5]:
# Division returns FLOAT
18/10

1.8

In [6]:
8/4

2.0

In [7]:
# Modulo or Remainder Operation
1%3

1

In [8]:
10%3

1

In [9]:
22%3.0

1.0

In [10]:
# Converting float to int using .type()
# This chops off the floating part
print(int(3.14))

# print(5+ "Hello") - ERROR

print(str(5) + "Hello")

# Implicit type conversion
print(3 + 5.56)

3
5Hello
8.559999999999999

In [11]:
# Equality and Inequality Operator
# Behind the scene Python converts int to floating pointand then compares them 
5==5.0

True

In [12]:
print(5=="5")

print("music" != "Music")

False
True

In [13]:
True==True

True

In [14]:
"ham" == "Ham"

False

In [15]:
""==""

True

In [16]:
# Expression returns TRUE when all comparisons are True
print(5 < 8 <= 10)
print(5 >6 < 7)

True
False

PEMDAS : 
Parenthesis -->
Exponential -->
Multiply-->
Division--> Addition-->
Subtraction

In [17]:
#Exponent Operator
a=10
a**3

1000

In [18]:
#Remainder or Modulus Operator
a=13
b=5
a%b

3

In [19]:
a= 3*3+3/3-3 #9+1-3
print(a)

7.0

In [20]:
a= 3*(3+3)/3-3 #3*6/3-3 #18/3-3
print(a)

3.0

In [21]:
#Relational Operators
a=10
b=5
print(a!=b)
print(a==b)

True
False

In [22]:
a=4
a+=4

b=10
b*=2 # b=b*2

c=5
c**=3 #c=c*c*ca

print(a)
print(b)
print(c)

8
20
125

In [23]:
a= 1
b=2
c=not(a>b) #not reverses the output
print(c)

True

In [24]:
a = "Piyush"
b = "Piyush"
print(id(a))
print(id(b))

132820059532208
132820059532208

In [25]:
# Identity Operator
# is Operator , is not Operator
# To check if two variables are pointing to same location or not

a = "Piyush"
b = "Piyush"
print(a is b)
print(id(a))
print(id(b))

True
132820059532208
132820059532208

In [26]:
a = "Piyush"
b = "Sharma"
print(a is b)
print(id(a))
print(id(b))

False
132820059532208
132820059022640

In [27]:
a = "Piyush"
b = "Piyush"
print(a is not b) #Weather pointing to different locations?
print(id(a))
print(id(b))

False
132820059532208
132820059532208

In [28]:
a = "Piyush"
b = "Sharma"
print(a is not b) 
print(id(a))
print(id(b))

True
132820059532208
132820059030832

In [29]:
#Binary Operators / Bitwise AND(&), OR(|) , NOT(~), XOR(^)
a=2   #0010
b=5   #0101

c=a&b #0000
d=a|b #0111
e=a^b #0111 1 if only one of the bits is 1, 0 if both are 0 or 1

print(c)
print(d)
print(e)

0
7
7

In [30]:
# Bitwise Leftshift and Rightshift operator
a= 10 # 1010
b = a<<2  # 101000 --> 40
c = a>>2  # 10 --> 2

print(b) 
print(c)

40
2

In [31]:
-14//3

-5

In [32]:
22%3

1

In [33]:
2/6

0.3333333333333333

In [34]:
# Membership Operator
# in and not in 
"iy" in "Piyush"

True

In [35]:
3 not in [1,2,4,6,7]

True

# Control and Loop Statements

In [36]:
# IF executes whenever expression evaluates to TRUE
# To know which value will lead to TRUE/FALSE use the bool fn
print(bool("Hello"))
print(bool(""))
print(bool(0))
print(bool(-1))

print('\n')

if True:
    print("Hello")

if 3:
    print("Hola")

if -1:
    print("This is true")

if 0:
    print("NO Print")

# Empty string evaluates to False
if "":
    print("No Print")

if "Hello":
    print("World")

True
False
False
True


Hello
Hola
This is true
World

In [37]:
age = int(input("Enter Age"))
if age >18:
    print ("Elibibile Voter")
else:
    print("Not Eligible")

Elibibile Voter

In [38]:
# Checking largest number among 3 nos
 
first_no = int(input("Enter 1st number:"))
second_no = int(input("Enter 2nd number:"))
third_no = int(input("Enter 3rd number:"))

if first_no>second_no and first_no>third_no:
    print(f"{first_no} is lrgest among {second_no} and {third_no}")
else:
    if second_no>first_no and second_no>third_no:
        print(f"{second_no} is the greatest among {first_no} and {third_no}")
    else:
        print(f"{third_no} is the greatest of all")

23 is the greatest among 12 and 18

In [39]:
#Alternative code

first_no = int(input("Enter 1st number:"))
second_no = int(input("Enter 2nd number:"))
third_no = int(input("Enter 3rd number:"))

if first_no>second_no and first_no>third_no:
    print(f"{first_no} is lrgest among {second_no} and {third_no}")
elif second_no>first_no and second_no>third_no:
    print(f"{second_no} is the greatest among {first_no} and {third_no}")
else:
    print(f"{third_no} is the greatest of all")

45 is the greatest of all

In [40]:
# FOR statement
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [41]:
# range fn # excludes end point
for i in range(6):
    print(i)

0
1
2
3
4
5

In [42]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [43]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [44]:
# printing series backward 
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [45]:
# printing horizontally
# by default print parameters are set as : 
# sep='' and end='\n'

for i in range(2,11,2):
    print(i, end =" ")

2 4 6 8 10

In [46]:
# To remove trailing , at the end
print(*range(2,11,2), sep =",")

# Note : The * "unpacks" an iterable, so that each element is passed as a separate argument

2,4,6,8,10

In [47]:
# PASS stmnt does nothing
a=10
b=5
if a>b:
    pass

In [48]:
# WHILE loop and BREAK statement
a=5
while a<=10:
    print(a)
    a+=1
    if a==8:
        break

5
6
7

In [49]:
# CONTINUE statement skips some steps but continues the remaining loop execution
for i in range(10):
    if i in [5,6]:
        continue
    print(i)

0
1
2
3
4
7
8
9

In [50]:
# BREAK completely moves out of loop execution
for i in range(10):
    if i in [5,6]:
        break
    print(i)

0
1
2
3
4

# STRING METHODS
Strings are immutable i.e name = "abc | name[0] ='x' wont work


- Upper( )
- Lower( )
- Capitalize( )
- Title( )
- Swapcase( )
- strip( ), lstrip( ), rstrip( )
- Replace( )
- Startswith( , ) Endswith( , )
- IN & NOT IN
- Find and Count
- Split( ) and Join( )
- isalpha( ) and isalnum( )
- format( )

In [51]:
# By default print args are set as -->  sep='', end='\n'
# So we get output of next print fn in next line
print("Text to be printed", "Hello", sep=' ', end='\n')
print("World")

print("Text to be printed", "Hello", sep='  ** ', end='\n\t')
print("World")

print("Text to be printed", "Hello", sep='\n\t', end='--')
print("World")

print("Text to be printed", "Hello", sep=':\n\t--', end='--\n\t**')
print("World", end='**')

Text to be printed Hello
World
Text to be printed  ** Hello
	World
Text to be printed
	Hello--World
Text to be printed:
	--Hello--
	**World**

In [52]:
profession = "Analyst"
profession.upper()

'ANALYST'

In [53]:
profession.swapcase()

'aNALYST'

Strings are immutable objects i.e if you change it then python will create a new object

Even after calling methods on them the original objects remains unchanged

In [54]:
profession

'Analyst'

In [55]:
"piyush sharma".capitalize()
# Only 1st char will be in capital

'Piyush sharma'

In [56]:
"piyush sharma".title()

'Piyush Sharma'

In [57]:
# Removing leading and trailing whitespaces
name = "    Piyush     "
name.lstrip()

'Piyush     '

In [58]:
name.strip()

'Piyush'

In [59]:
name = "   Piyush     Sharma    "
name.lstrip()

'Piyush     Sharma    '

In [60]:
name.rstrip()

'   Piyush     Sharma'

In [61]:
name.strip()

'Piyush     Sharma'

In [62]:
# Replacing, case sensitive 

profession.replace("A","x")

'xnalyst'

In [63]:
# Method Chaining
name = "   Piyush     Sharma    "
new_name = "  "
name.strip().replace("h","*")

'Piyus*     S*arma'

In [64]:
print(name.istitle())
print(name.islower())
print(name.isspace())

# Eg : to check someone has not filled an empty name in the form
print(new_name.isspace())

True
False
False
True

In [65]:
# Checking sub strings within a string
# Case Sensitive

profession.startswith("a")

False

In [66]:
profession.endswith("t")

True

In [67]:
"ana" in profession

False

In [68]:
"Ana" in profession

True

In [69]:
"ana" not in profession

True

In [70]:
# Practice Exercise

scientist = "albert einstein"
proper_name = scientist.title()
print (proper_name)

wasteful_string = "     9:00PM     "
unwasteful_string = wasteful_string.strip()
print(unwasteful_string)

party_attendees = "Sharon, James, Ron, Blake"
is_attending = "Ron" in party_attendees
print(is_attending)

def cleanup(string):
    return print(string.strip().capitalize())
cleanup("   hello world  ")

Albert Einstein
9:00PM
True
Hello world

In [71]:
# NEW LINE
print("Hello\nWorld")

print("Welcome to" + " World") # notice the space before W
print("Welcome to", "World")

Hello
World
Welcome to World
Welcome to World

In [72]:
a= 2
b=4
c=6
print(a,b,c, sep=",")
print(a,b,c, end=",")

2,4,6
2 4 6,

In [73]:
# To print single quotes, use double quotes in print and vice versa
print('"Hello"')

"Hello"

In [74]:
name = 'Hello'
print(name[:])
print(name[0:5])
print(name[::])

Hello
Hello
Hello

In [75]:
# print(name[10])
# Index Error : out of range
print(name[0:10])

Hello

In [76]:
fname = 'Josh'
lname = 'Cohen'
print(fname ,lname)

Josh Cohen

In [77]:
name1= "Sameer"
name2= "Sohan"
name1>name2

# When 1st character was equal it moves to comparing next one
# o comes after a so it is greater

False

In [78]:
# find() function
string = "How are you all?"
print(string.find("are")) # returns the position of 1st occurence of matching string
print(string.find("x"))

print(string .find('a',5)) # Find 'a' and start from index =5

4
-1
12

In [79]:
# STRING REVERSAL
string = "How are you all?"
print(string[::-1])

print(string[::-1].find('a'))

?lla uoy era woH
3

In [80]:
string = "How are you all?"
print(string.find('a',-1))
print(string.find('e',5,50))

-1
6

In [81]:
# No of occurences in a string
print(string.count('a',5,20))

1

In [82]:
# Creating a LIST based on a delimitter
string = "How are you all?"
wordlist = string.split(' ')
print(wordlist)

# Joining LIST elements to create a string
print('\t'.join(wordlist))
# \t generates escape sequence (tab)

['How', 'are', 'you', 'all?']
How	are	you	all?

In [83]:
password = 'Hello123'
print(password.isalpha())
print(password.isalnum())

False
True

In [84]:
# To check if string has only digits
contact = '9786567765'
print(contact.isdigit())

contact = '12.4'
print(contact.isdigit())

True
False

# format( ) Method

In [85]:
# Relative Position
string = "My name is {}. I play {} and I live in {}."
print(string.format("Sam", "guitar", "London"))

# Numeric Position
string = "My name is {0}. I play {2} and I live in {1}."
print(string.format("Ron", "NY", "drums"))

# Keyword Arguments
string = "My name is {name}. I play {instrument} and I live in {city}."
print(string.format(instrument = "flute", name = "Tim", city = "Delhi"))

My name is Sam. I play guitar and I live in London.
My name is Ron. I play drums and I live in NY.
My name is Tim. I play flute and I live in Delhi.

In [86]:
name = input("Enter your name:")
instrument = input("What instrument do you play?")
city =  input("Where do you live?")

string = "My name is {name}. I play {instrument} and I live in {city}."
print(string.format(name = name, instrument = instrument, city = city))

My name is Piyush. I play BGMI and I live in ajmer.

In [87]:
# Lets say we want account no to be 16 digits
account_no = 12345678912345 # 14 digits
print("My account no is: {:016d}".format(account_no))
# This adds extra zeros before the start 

print("{:5d}".format(24))
# Adds 3 whitespaecs at start to make it 5 digit

print("{:*<5d}".format(24))
# Adds *** at end 

# To add spaces or 0 or anything at end and start 
print("{:#^5d}".format(24))

My account no is: 0012345678912345
   24
24***
#24##

In [88]:
balance = 123.454
print("Account balance is: {:f}".format(balance))
# Appends trailing zeroes to make float data consistent to 6 decimal point


print("Account balance is: {:5.2f}".format(balance))
# 5 represents total digits and 2 represents no of decimal digits


# To print +,- symbol before a number
price_change = +3
print("Price variation is {:+d}".format(price_change))

print('The numbers are {:d} and {:f}'.format(2, 10))

print("The value is : {:.0%}".format(0.8085))

Account balance is: 123.454000
Account balance is: 123.45
Price variation is +3
The numbers are 2 and 10.000000
The value is : 81%

# Printing Special Characters

- print \  '   "

In [89]:
# ERROR --> print("tell me "What's your name?" ") 
# Use TRIPLE QUOTES """"....""""  when string has single and double quotes
print("""tell me "What's your name?" """)

tell me "What's your name?"

In [90]:
# Raw String
# print(r"c:\Users\Downloads\Piyush's_File") --> ERROR

# To print double quotes, use aboue method of Triple quotes

# FUNCTIONS

In [91]:
def sum(a=0,b=0):
    """ Function that adds two numbers"""
    print(a+b)

c = sum(3,5)
print(c)

8
None

In [92]:
# a = 0,b = 0 specifies default values when no arguments are provided
# return needed to store value in variable c
# 1st line in TRIPLE QUOTES immediately after fn declaration is doc string
sum.__doc__

' Function that adds two numbers'

In [93]:
len.__doc__

'Return the number of items in a container.'

In [94]:
sum()
# uses default values of a,b

0

- NOTE : default value has to be last 
- a=0, b will not work
- a, b =0 is fine

In [95]:
# passing multiple args and multiple return values
def sum_diff(a=0, b=0):
    return a+b, a-b

c,d = sum_diff(10,20)
print(c,d)

30 -10

In [96]:
def add(a,b):
    print("Sum of",a, "and", b, "is", a+b)

add(3,5)           # Positional argument
add(a = 3, b= 5.5) # Keyword arguments # Can be pssed in any order
add(b = 10, a = 5) # Mixing both types will require order

Sum of 3 and 5 is 8
Sum of 3 and 5.5 is 8.5
Sum of 5 and 10 is 15

- Pass by Value and Pass by Reference

In [97]:
def change_num(a):
    a[2] = 9
    return a 


lst = [1,2,3,4,5]
print(lst)
change_num(lst)
print(lst)

# list is passed as argument
# pass by reference
# original copy of list is passed which is mutated

[1, 2, 3, 4, 5]
[1, 2, 9, 4, 5]

In [98]:
def change_num(a):
    a = 9
    return a


l = 10
print(l)
change_num(l)
print(l)

# integer is passed
# pass by value
# we are creating a copy of value and that is geeting mutated but original is still intact

10
10

- Variable length parameters
- Suppose we need t0 add 100 numbers, so we cant write 100 parameters

In [99]:
# Unpacking operator (*) can be used when you don’t know the number of arguments of your function
def sum(*numbers):
    sum = 0
    for n in numbers:
        sum+= n
    return sum

sum(1,2,3,4,5,6,7,8,9,10)

55