# SETS
- No Duplicates allowed eg storing Aadhar no. If duplicates are added, it keeps only 1 copy
- Mutable i.e elements can be added or removed
- Order is not preserved
- Allows Hetrogenous dtypes. 
- Can store tuple in a set but NOT LIST because Set works on the concept of hashing
- { } used to initalize set

In [1]:
lst = [10,20,30,40,10,10,20]
st = set(lst)
print(st)
print(set([1,2,3,4,5]))

# In DS we can convert duplicates to unique by storing data in set

{40, 10, 20, 30}
{1, 2, 3, 4, 5}

In [2]:
st = set(range(5))
print(st)

{0, 1, 2, 3, 4}

In [3]:
st = {10,20,30}
print(type(st))

# Empty braces treated as Dictionary
st1 = {}
print(type(st1))

# To create empty set
st = set()
print(st)
print(type(st))

<class 'set'>
<class 'dict'>
set()
<class 'set'>

In [4]:
st = {20,30,10}
st.update({1,2,3},[10,20,50])
print(st)

{1, 2, 3, 20, 50, 10, 30}

In [5]:
# Ading elements
st1 = set()
st1.add(10)
st1.add(20)
st1.add(30)

print(st1)

{10, 20, 30}

In [6]:
st1 = {20,30,10}
st2 = st1
print(st1)
print(st2)
print(id(st1))
print(id(st2))

# we can write
st2 = st1.copy()

{10, 20, 30}
{10, 20, 30}
139981446744992
139981446744992

In [7]:
# POP will give random value

st1 = {20,30,10,40,50,10}
print(st1)
print(st1.pop())

{50, 20, 40, 10, 30}
50

In [8]:
st1 = {20,30,10,40,50,10}
st1.remove(30)
print(st1)

# st1.remove(100) gives error. To avoid error use . discard()

st1.discard(100)
print(st1)

{50, 20, 40, 10}
{50, 20, 40, 10}

In [9]:
# Check for subset

st1 ={1,2,3}
st2= {3,4,5}
st3= {1,2,3,4,5,6,7}
print(st1.issubset(st2))

# All elements should be common to return TRUE
print(st1.issubset(st3))

# Union and Intersection
print(st1.union(st1))
print(st1.intersection(st2))

False
True
{1, 2, 3}
{3}

In [10]:
# The < and > operators are used for testing for strict subsets

a ={1,2,3}
b ={1,2,3,4,5,6}
c ={2,5,6}
print(b >a)
print(c<b)
print(a==b)

True
True
False

In [11]:
# Difference gives all elements in st3 that are not in st1
print(st3-st1)
print(st2.difference(st1))

# Getting common elements from st1 and st2 except common elements
# We use Symmetric Difference
print(st3.symmetric_difference(st2))
print(st3 ^ st2)

{4, 5, 6, 7}
{4, 5}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [12]:
# SET Comprehension
st = {x**2 for x in range(10)}
print(st)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

# DICTIONARY
- dict = {key1 : value1,
          key2 : value2}
- Just like there cant be 2 keys for 1 vehicle we cant have duplicate keys in a dictionary
- Values can be duplicate
- Hetrogenous Dtype allowed for keys and vlaues
- Can access value from key but not vice versa

- If K:V pairs are same across dictionaries (irrespective of order) then D1==D2 results TRUE

In [13]:
test = {1:"Hello",
2: "World"}

test[1]

'Hello'

In [14]:
test.items()

dict_items([(1, 'Hello'), (2, 'World')])

In [15]:
test = {
    "a":"Hello",
    "b" : "World",
    "c" : "Everyone"}
test["a"]

'Hello'

In [16]:
test = {
    "a":"Hello",
    "b" : "World",
    3.45 : 123,
    4 : "Hello"}

print(test[4])
print(test[3.45])

Hello
123

In [17]:
# Adding new K-V pair
test["Address"] = "India"
test

{'a': 'Hello', 'b': 'World', 3.45: 123, 4: 'Hello', 'Address': 'India'}

In [18]:
# List down keys and Values
print(test.keys())
print(type(test.keys()))
# print(sorted(test))  SORTS KEYS but here it wont work as dtype is mixed of int and str

dict_keys(['a', 'b', 3.45, 4, 'Address'])
<class 'dict_keys'>

In [19]:
test.values()

dict_values(['Hello', 'World', 123, 'Hello', 'India'])

In [20]:
print('a' in test) # checks in keys
print('d' not in test)

True
True

In [21]:
# Generating Dict Comprehension
cubes = {x:x**3 for x in range(10)}
print(cubes)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [22]:
# like a LIST , we can iterate over list of dictonary keys
for k in test.keys():
    print(f"The key {k} has a value {test[k]}")

The key a has a value Hello
The key b has a value World
The key 3.45 has a value 123
The key 4 has a value Hello
The key Address has a value India

In [23]:
for k,v in test.items():
    print(k,v)

a Hello
b World
3.45 123
4 Hello
Address India

In [24]:
if "address" not in test.keys():
    print("Not Available")

# Similar results using get()
test.get("address", "Not Available")

Not Available

'Not Available'

In [25]:
del test[3.45]
test

{'a': 'Hello', 'b': 'World', 4: 'Hello', 'Address': 'India'}

In [26]:
# API calls involves handling JSON files
# JSON stores data in form of key:value pairs

FlightsFromAirIndia = {
    'Source': 'Delhi',
    'Destination' : 'London',
    'Date' : '01-01-2023',
    'Price' : 10000,
    'Departure' : 1300,
    'Arrival' : 1800
    }

FlightsFromAirAsia = {
    'Source': 'Delhi',
    'Destination' : 'London',
    'Date' : '01-01-2023',
    'Price' : 15000,
    'Departure' : 1300,
    'Arrival' : 1830
    }

FlightsFromSpiceJet = {
    'Source': 'Delhi',
    'Destination' : 'London',
    'Date' : '01-01-2023',
    'Price' : 13000,
    'Departure' : 1400,
    'Arrival' : 1800
    }

GoIbiboFlight = {
    'AirIndia' : FlightsFromAirIndia,
    'AirAsia' : FlightsFromAirAsia,
    'SpiceJet' : FlightsFromSpiceJet
}

GoIbiboFlight

{'AirIndia': {'Source': 'Delhi',
  'Destination': 'London',
  'Date': '01-01-2023',
  'Price': 10000,
  'Departure': 1300,
  'Arrival': 1800},
 'AirAsia': {'Source': 'Delhi',
  'Destination': 'London',
  'Date': '01-01-2023',
  'Price': 15000,
  'Departure': 1300,
  'Arrival': 1830},
 'SpiceJet': {'Source': 'Delhi',
  'Destination': 'London',
  'Date': '01-01-2023',
  'Price': 13000,
  'Departure': 1400,
  'Arrival': 1800}}

In [27]:
# Air India could have 2 flights

FlightsFromAirIndia = {
    'Flight1_A304' : {
                    'Source': 'Delhi',
                    'Destination' : 'London',
                    'Date' : '01-01-2023',
                    'Price' : 10000,
                    'Departure' : 1300,
                    'Arrival' : 1800},
    'Flight2_A304' : {
                    'Source': 'Mumbai',
                    'Destination' : 'London',
                    'Date' : '01-01-2023',
                    'Price' : 17000,
                    'Departure' : 1500,
                    'Arrival' : 2000
    }
                    }

FlightsFromAirAsia = {
    'Source': 'Delhi',
    'Destination' : 'London',
    'Date' : '01-01-2023',
    'Price' : 15000,
    'Departure' : 1300,
    'Arrival' : 1830
    }

FlightsFromSpiceJet = {
    'Source': 'Delhi',
    'Destination' : 'London',
    'Date' : '01-01-2023',
    'Price' : 13000,
    'Departure' : 1400,
    'Arrival' : 1800
    }

GoIbiboFlight = {
    'AirIndia' : FlightsFromAirIndia,
    'AirAsia' : FlightsFromAirAsia,
    'SpiceJet' : FlightsFromSpiceJet
}

GoIbiboFlight

{'AirIndia': {'Flight1_A304': {'Source': 'Delhi',
   'Destination': 'London',
   'Date': '01-01-2023',
   'Price': 10000,
   'Departure': 1300,
   'Arrival': 1800},
  'Flight2_A304': {'Source': 'Mumbai',
   'Destination': 'London',
   'Date': '01-01-2023',
   'Price': 17000,
   'Departure': 1500,
   'Arrival': 2000}},
 'AirAsia': {'Source': 'Delhi',
  'Destination': 'London',
  'Date': '01-01-2023',
  'Price': 15000,
  'Departure': 1300,
  'Arrival': 1830},
 'SpiceJet': {'Source': 'Delhi',
  'Destination': 'London',
  'Date': '01-01-2023',
  'Price': 13000,
  'Departure': 1400,
  'Arrival': 1800}}

Copy outup and past into http://jsonviewer.stack.hu/ . Check viewer to see Dictionary tree

In [28]:
GoIbiboFlight.clear()
GoIbiboFlight

{}

In [29]:
# Accessing Price of AirIndia Flight 1 A304
FlightsFromAirIndia['Flight1_A304']['Price']

10000

In [30]:
print(test)

{'a': 'Hello', 'b': 'World', 4: 'Hello', 'Address': 'India'}

In [31]:
# test.pop() gives error
# Unlike list pop must have some KEY as an argument
test.pop('a')
print(test)

{'b': 'World', 4: 'Hello', 'Address': 'India'}

In [32]:
test.popitem() # removes random value

('Address', 'India')

In [33]:
a = {}
a[1] = 1
a['1'] = 2
a[1] = a[1] + 1 # dict = {1:2, '1' : 2}
count = 0 
for i in a:
    count+= a[i] 
    # count = 0 + a[1] = 2 
    # count = count + a['1'] = 2+2 = 4
print(count)

4